body{
    font-family: 'Inter';
    font-size: 14pt;
   
     margin: 0;
     padding: 0;
    
}

#container{
    display: flex;
     flex-direction:row;
    justify-content:center;
    align-items:center;
    height: 950px;
    padding: 0;
    margin: 0;
    background-image: src('tarde.png');
      background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
    
}
#section{
    
    box-shadow: 5px 10px 35px rgba(0, 0, 0, 0.178);
    width: 500px;
    margin-top: 40px;
    padding: 3%;
    background-color: white;
    border-radius: 8px;
    

}
#strong{
font-weight: 500;
}
#titulo{
    font-size: 30pt;
    font-weight: 800;
    
}
.classname {
        
     
    background-color:#926bff;
    -webkit-border-top-left-radius:11px;
    -moz-border-radius-topleft:11px;
    border-top-left-radius:11px;
    -webkit-border-top-right-radius:11px;
    -moz-border-radius-topright:11px;
    border-top-right-radius:11px;
    -webkit-border-bottom-right-radius:11px;
    -moz-border-radius-bottomright:11px;
    border-bottom-right-radius:11px;
    -webkit-border-bottom-left-radius:11px;
    -moz-border-radius-bottomleft:11px;
    border-bottom-left-radius:11px;
text-indent:0;
    display:inline-block;
    color:#ffffff;
    font-family:monospace;
    font-size:20px;
    font-weight:normal;
    font-style:normal;
height:40px;
    line-height:40px;
width:270px;
    text-decoration:none;
    text-align:center;
}.classname:hover {
    background-color:#c4ff00;
}.classname:active {
    position:relative;
    top:1px;
}
.link{
    text-decoration: underline;
    color: rgb(12, 12, 12);
}
a.link:hover {
    color:blue;
    text-decoration:underline;
     -webkit-animation: random 4s infinite;
     animation: random 4s infinite;
  }
  
  @keyframes spin {
    0% {
     transform: rotateZ(0deg);
    }
    50% {
     transform: rotateZ(10deg);
    }100% {
     transform: rotateZ(0deg);
    }
   }

   @keyframes  random {
    15% { color: red; } 
    30% { color: yellow; } 
    45% { color: yellowgreen; } 
    60% { color: blue; }
    75% { color: rgb(39, 110, 243); }  
}

@media (max-width: 600px){

    #section{
      
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 80%;

      
        margin-bottom: 20px;
    

    }
    #container{
        display: flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        height: 950px;
        padding: 0;
        padding-bottom: 400px;
        margin: 0;
    }


}